{{#if errorMessage}}
  <div class='error'>
    {{errorMessage}}
  </div>
{{/if}}

<form {{action "saveUser" on="submit"}}>
  {{input value=model.firstName type="text" name="firstName"}}
  {{input value=model.lastName type="text" name="lastName"}}
  <button type="submit">Submit</button>
</form>
