<h2>Creating Reusable Components</h2>

<ul>
  <li>Isaac Ezer</li>
  <li>www.isaacezer.com</li>
  <li>@isaacezer</li>
  <li>www.github.com/iezer</li>
  <li>www.201-created.com</li>
</ul>

{{#link-to "summary"}}Summary{{/link-to}}
